@import "../scss/settings.scss";

.blog-section {
    top: 50px;
    position: relative;
    width: $w-1200;
    margin: 0 auto;
    margin-bottom: 200px;
}
.blog-details {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h3 {
        margin: 0;
        padding: 0;
    }
    p {
        top: 10px;
        position: relative;
        color: #636e72;
    }
}

.Home-li {
    display: grid;
    grid-template-columns: 1fr;
    // background: rgb(243, 242, 242);
    box-shadow: 0px 2px 5px 5px rgba(0, 0,0, 0.05);
    border: 1px solid rgba(0, 0,0, 0.05);
    border-radius: 15px;
    &:hover {
        box-shadow: 0px 10px 15px 5px rgba(0, 0,0, 0.09);
        // border: 1px solid rgb(132, 143, 132);
        top: -3px;
        position: relative;
        
    }
}
.button-wrapper {
    width: 100%;
    margin-top: 50px;
    // border: 1px solid tomato;
    display: grid;
    place-items: center;
}
.Home-button {
    @include btn-primary;
    padding: 20px 25px;
    border: none;
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    width: 250px;
    text-decoration: none;
    &:hover {
        box-shadow: 5px 10px 30px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        top: -2px;
        position: relative;
    }
}
.Home-link {
    display: grid;
    grid-template-columns: 1fr;
    // place-items: center;
    border: 1px solid rgb(228, 225, 225);
    text-decoration: none;
    border-radius: 15px;
}
.Home-li-title {
    font-family: $comforta;
    top: 20px;
    position: relative;
    // margin: 20px 0;
    font-size: 1.8rem;
    color: #34495e;
    
}
.Home-article {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.author-profile {
    display: grid;
    grid-template-columns: 50px auto  auto;
    place-items: center;
    color: #2c3e50;
    span {
        color: #7f8c8d;
        font-size: 1rem;
        margin-left: 10px;
    }
    img {
        top: 2px;
        position: relative;
        border-radius: 50%;
    }
}
.single-post {
    width: $w-1200;
    margin: 0 auto;
    h1.Recipe-title {
        font-family: $comforta;
        font-size: 4rem;
    }
}
.Recipe-abstract {
    font-size: 2rem;
}
.Recipe-box {
    p {
        font-size: 1.4rem;
    }
}

// MEDIA QUERIES
@media (max-width: 480px) {
    .blog-section {
        width: 100vw;
        margin-bottom: 70px;
    }
    .Home-article {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 10px;
    }
    .author-profile {
        grid-template-columns: 50px 1fr 1fr;
        gap: 5px;
        img.author-avatar {
            border: 1px solid #cacbcc;
            border-radius:  50%;
        }
        
        div {
            display: grid;
            place-items: center;
            grid-template-columns: 16px 1fr;
            margin-left: 10px;
            span {
                font-size: 0.7rem;
            top: 3px;
            position: relative;
            }
            img {
               margin: 0 5px;
            }
        }
    }
    .single-post {
        width: 100vw;
        // padding: 20px;
        h1.Recipe-title {
            font-family: $comforta;
            font-size: 2rem;
            padding: 10px;
        }
        strong {
            padding: 10px;
        }
    }
    .Recipe-abstract {
        // font-family: $comforta;
        font-size: 1.2rem;
        line-height: 1.8;
        padding: 10px;
        text-align: justify;
    }
}