@import "../scss/settings.scss";

.blog-section {
    top: 50px;
    position: relative;
    width: $w-1200;
    margin: 0 auto;
}
.blog-details {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h3 {
        margin: 0;
        padding: 0;
    }
    p {
        top: 10px;
        position: relative;
        color: #636e72;
    }
}

.Home-li {
    display: grid;
    grid-template-columns: 1fr;
    // background: rgb(243, 242, 242);
    box-shadow: 0px 2px 5px 5px rgba(0, 0,0, 0.05);
    border: 1px solid rgba(0, 0,0, 0.05);
    &:hover {
        box-shadow: 0px 10px 15px 5px rgba(0, 0,0, 0.09);
        // border: 1px solid rgb(132, 143, 132);
        top: -3px;
        position: relative;
        
    }
}
.Home-link {
    display: grid;
    grid-template-columns: 1fr;
    // place-items: center;
    border: 1px solid rgb(228, 225, 225);
    text-decoration: none;
}
.Home-li-title {
    font-family: $comforta;
    top: 20px;
    position: relative;
    // margin: 20px 0;
    font-size: 1.8rem;
    color: #34495e;
    
}
.Home-article {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.author-profile {
    display: grid;
    grid-template-columns: 50px auto auto;
    place-items: center;
    color: #2c3e50;
    span {
        color: #7f8c8d;
        font-size: 1rem;
        margin-left: 10px;
    }
}
.single-post {
    width: $w-1200;
    margin: 0 auto;
    h1.Recipe-title {
        font-family: $comforta;
        font-size: 4rem;
    }
}
.Recipe-abstract {
    font-size: 2rem;
}
.Recipe-box {
    p {
        font-size: 1.4rem;
    }
}