@import "../scss/settings.scss";

.btm-wrapper {
    background: white;
    border: 1px solid #eee;
    // box-shadow: 0px 3px 55px 15px rgba(0, 0, 0, 0.14);
    width: 250px;
    height: 450px;
    border-radius: 15px;
    position: fixed;
    top: 42%;
    left: 85%;
    z-index: 100;
    box-shadow: $customShadow;
    display: grid;
    grid-template-columns: 1fr;
    // box-shadow: 0 0.9px 2.2px rgba(0,0,0,0.02),0 2.2px 5.3px rgba(0,0,0,0.028),0 4.1px 10px rgba(0,0,0,0.035),0 7.4px 17.9px rgba(0,0,0,0.042),0 13.8px 33.4px rgba(0,0,0,0.05),0 33px 80px rgba(0,0,0,0.07);
}
.btm-item {
    display: grid;
    place-items: center;
    padding: 10px;
    margin: 25px 0;
    border-bottom: 1px solid #E5E5E5;
    opacity: 1;
    &:nth-last-child(1) {
        border-bottom: none;
    }
    p {
        font-size: 0.875rem;
        font-family: $comforta;
        color: #363636;
        font-weight: 300;
    }
    img {
        opacity: .7;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}
.btm-buttons-group {
    position: fixed;
    top: 92%;
    left: 89%;
    z-index: 100;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    background: $btn-primary-bg;
    border-radius: 10px;
    opacity: .4;
    box-shadow: $customShadow;
    &:hover {
        opacity: 1;
    }
    button {
        display: grid;
        
        place-items: center;
        color: $btn;
        background: $btn-primary-bg;
        border: none;
        // border-radius: 50%;
        
        width: 48px;
        height: 48px;
        &:hover {
            background: darken($btn-primary-bg, 5);
            cursor: pointer;
        }
        
       
}
    // .btn-first {
    //     border-radius: 15px 0px 0px 15px;
    // }
    // .btn-second {
    //     border-radius: 0px 15px 15px 0px;
    // }
}
.test {
    accent-color: red;
}