@import "../scss/settings.scss";

footer {
    width: 100%;
    height: 100px;
    // background: $footer;
    margin-top: 200px;
    display: grid;
    place-items: center;
    img {
        transform: scale(0.6)
    }
}


// MEDIA QUERIES
@media (max-width: 480px) {
    footer {
        margin-top: 20px;
    }
}