// IMPORTS
@import "./settings.scss";

// HEADER JS
.progress-indicator {
    height: 5px;
    background: linear-gradient(to right,#FF3E85, #5FC5C5);
}
.expand-menu-wrapper {
    width: 100%;
    transition: height 0.2s ease-in-out;
    .expand-menu {
        width: $w-1280;
        background: pink;
        margin: 0 auto;
    }
}
.Header-header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    background: $nav-bg;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.05)
}
.Header-nav {
    width: 1280px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $nav-bg;
    
    
}
.Header-navLink {
    font-family: $comforta;
    font-size: 1rem;
    margin: 0 10px;
    color: $nav-link;
    font-weight: 400;
    text-decoration: none;
    &:hover {
    //     text-underline-position: under;
    // text-decoration: 3px underline tomato;
    color: #6c5ce7;
    }
}
.Header-isActive {
    font-family: $comforta;
    font-size: 1.1rem;
    margin: 0 10px;
    color: $nav-link;
    font-weight: 800;
   
    padding: 5px 10px;
    // text-underline-position: under;
    // text-decoration: 3px underline skyblue;
}
.sub-container {
    width: 100vw;
    height: 60vh;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 9999;
    
}
.sub-menu {
    width: $w-1280;
    height: 500px;
    background: #ffffff;
    // border: 1px solid #aeb2b3;
    border-radius: 3px;
    margin: 50px auto;
    // top: 200px;
    // left: 100px;
    
    box-shadow: 0px 40px 55px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    transform: translate(100%);
    transition: all 0.2s ease-out;
    background: url("../assets/mod.svg")

   
}
.menu-trigger {
    background: none;
    // border: 1px solid #c8caca;
    border: none;
    &:hover {
        cursor: pointer;
        // border: 1px solid #22a6b3
    }
}
.open-project:hover {
    .sub-menu {
        display: block;
    }
}

@media (max-width: 480px) {
    .progress-indicator {
        display: none;
    }
    .Header-header {
        width: 100vw;
        // height: 60px;
        // box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.05)
    }
    .Header-nav {
        width: 100vw;
        height: 80px;
        display: grid;
        grid-template-columns: 1fr 70px;
        div {
            img {
                transform: scale(0.6);
                margin-left: -35px;
            }
        }
    }
    .menu-links {
        display: none;
    }
    .expand-menu-wrapper {
        width: 100vw;
        transition: height 0.2s ease-in-out;
        .expand-menu {
            width: 100vw;
            background: pink;
            margin: 0 auto;
        }
    }
    
    
}