@import "./settings";


.projects-container {
    width: $w-full;
}

.projects {
    @include grid-col-2;
    width: $w-1200;
    margin: 100px auto;
    h1 {
        font-family: $comforta;
        font-size: 3.5rem;
        color: #454343;
    }
    p {
        font-family: $comforta;
        font-size: 1.4rem;
        line-height: 2;
    }
}
.projects-images {
    margin-top: 50px;
    
    img {
        border: 1px solid rgb(226, 226, 226);
        width: 100%;
        border-radius: 15px;
        box-shadow: $customShadow;
        &:hover {
            box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.04);
            top: -3px;
            position: relative;
            cursor: pointer;
            border: 1px solid #b6b8bb;
        }
    }
}
.projects-grid-img {
    margin-bottom: 30px;
    display: grid;
    place-items: center;
    // width: 100%;
    box-shadow: $customShadow;
    
}
.projects-subgrid-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    box-shadow: $customShadow
}
.projects-btn {
    @include btn-primary;
    padding: 20px 25px;
    border: none;
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    width: 350px;
    box-shadow: 0 0.9px 2.2px rgba(0,0,0,0.02),0 2.2px 5.3px rgba(0,0,0,0.028),0 4.1px 10px rgba(0,0,0,0.035),0 7.4px 17.9px rgba(0,0,0,0.042),0 13.8px 33.4px rgba(0,0,0,0.05),0 33px 80px rgba(0,0,0,0.07);
    &:hover {
        box-shadow: 5px 10px 30px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        top: -2px;
        position: relative;
    }
}
.my-projects {
    width: 85%;
    height: auto;
    border: 1px solid #E8E6E6;
    border-radius: 10px;
    box-shadow: $customShadow;
    background: #fff;
}
.my-projects-single-item {
    display: grid;
    grid-template-columns: 30% 70%;
    place-items:center;
    padding: 10px;
    margin: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    &:nth-last-child(1) {
        border-bottom: none;
    }
    &:hover {
       cursor: pointer;
       
   }
}
.my-projects-item-description {
    margin-right: 15px;
    h1 {
        font-family: $comforta;
        font-size: 1.5rem;
        color: #7C7979;
    }
    p {
        font-size: 0.875rem;
        font-family: $comforta;
        color: #7D7B7B;
        font-weight: 300;
    }
}


// MEDIA QUERIES
@media (max-width: 480px) {
    .projects-container {
        width: 100vw;
        
    }
    
    .projects {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
    }
    .projects-grid {
        display: grid;
        place-items: center;
        h1, p {
            text-align: center;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .projects-images {
        padding: 20px;
    }
    .my-projects {
        margin-top: 20px;
    }
}