@import "../scss/settings.scss";

.social-links-wrapper {
    position: fixed;
    width: 50px;
    
    top: 40%;
    left: 50px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    div {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 1px solid rgb(117, 114, 113);
        opacity: .3;
        &:hover {
            opacity: 1;
            cursor: pointer;
            box-shadow: 0px 2px 5px 5px rgba(0, 0,0, 0.08);
        }
    }
}

// MEDIA QUERIES
@media (max-width: 1024px) {
    .social-links-wrapper {
        display: none;
    }
}